@model IEnumerable<CoffeeBean.Entity.Product>
@{
    ViewData["Title"] = "Authentification";
}

<h1 class="bg-info text-white">Index</h1>
<h1>Hello @User.Identity.Name</h1>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    @if (User?.IsInRole("User") ?? false)
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>

    }
    @if (User?.IsInRole("Banned") ?? false)
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }
    @if (User?.IsInRole("Admin") ?? false)
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }
}

@if (!User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-info">Sign In</a>
    <a asp-controller="Account" asp-action="SignUp" class="btn btn-info alert-info">Sign Up</a>
}
