@model IEnumerable<CoffeeBean.Entity.Product>
@{
    ViewData["Title"] = "Category Page";
}

<style>
    .productContainer {
        max-width: 1200px;
        height: 300px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
    }

    .productItem {
        display: flex;
        display: inline-block;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 25px;
        width: 245px;
    }

    .textPart {
        display: inline-block;
        width: 158px;
        height: 60px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 17px;
        white-space: pre-line;
        color: #777777;
    }

    .wishPart {
        width: 32px;
        display: inline-block;
    }

    .wishItem {
        width: 32px;
        height: 32px;
        color: #777777;
    }

    img {
        width: 190px;
        height: 190px;
    }

    a {
        text-decoration: none;
    }
</style>

<div class="productContainer">
    @foreach (var prod in @Model)
    {
        <a asp-controller="ProductsReview" asp-action="Product" asp-route-id="@prod.Id">
            <div class="productItem">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(prod.Image))"/>

                <div class="textPart">
                    @prod.Name
                    @prod.Price
                </div>

                <div class="wishPart">
                    <a href="https://itvdn.com/ru/specialities/aspnet-core"> @*это кнопка сердечка wishList. Доработать!*@
                        <img class="wishItem" src="~/lib/bootstrap/heart_icon.png" alt="">
                    </a>
                </div>
            </div>
        </a>
    }
</div>