.container {
    max-width: 1200px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 25px;
    width: 300px;
}

.textPart {
    display: inline-block;
    width: 212px;
    height: 60px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 17px;
    white-space: pre-line;
    color: #777777;
}

.wishPart {
    width: 32px;
    display: inline-block;
}

.wishItem {
    width: 32px;
    height: 32px;
    color: #777777;
}

img {
    width: 250px;
    height: 250px;
}

a {
    text-decoration: none;
}
